{% extends "base.html" %}
{% block title %}Instructions{% endblock %}
{% block content %}
  <div class="instruction-box">
    <h2>Introduction</h2>
    <p>
      This form is part of the supply chain risk management of Atlas Copco Group.
      The information gathered through this form will be used in the security assessment.
      The questions are intended to evaluate the security posture of third parties and their products or services.
      The assessment is used for the approval process of new solutions/services and to manage cyber risk in the supply chain (ref. NIS2).
    </p>

    <h2>User Guide</h2>
    <p>There are two forms:</p>
    <ul>
      <li><strong>General Info:</strong> The third party is requested to provide relevant information about the solution/services and agreements in place.</li>
      <li><strong>Questionnaire:</strong> Contains 38 assessment questions. All questions are mandatory.</li>
    </ul>

    <form action="/load-application" method="post" class="mt-4">
        <div class="mb-3">
          <label for="appSelect" class="form-label fw-semibold">Choose an Existing Application</label>
          <select id="appSelect" name="application_name" class="form-select">
            <option value="new_app_name">Enter New App name below</option>
            {% for app in appnames %}
              <option value="{{ app }}">{{ app }}</option>
            {% endfor %}
          </select>
        </div>
      

      <div class="mb-3">
        <label for="appName" class="form-label fw-semibold">{% if appnames %}Or {% endif %}Enter a New Application Name</label>
        <input type="text" id="appName" name="application_name_text" class="form-control" placeholder="e.g., MyApp">
      </div>

      <button type="submit" class="btn btn-primary">Start</button>
    </form>
  </div>
{% endblock %}
